# Node
node_modules/
.DS_Store
*.log
*.tar.gz

# Vite build output
dist/
!dist/public/.gitkeep  # Optional if you want to keep folder structure

# Ignore sensitive or dev-only files
.env*
vite.config.ts.*

# Backend (optional)
server/public/
